[Unit]
Description=NodeJS application server

[Service]
ExecStart=/opt/catalog/catalog.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/opt/catalog

[Install]
WantedBy=multi-user.target